<div class="container">
    <div class="row">
        <div class="col-6 order-2 col-md-2 order-md-first">
        </div>
        
        <div class="col-12 order-first col-md-8 order-md-2">
            <div class="text-center" *ngIf="puzzleError">{{puzzleError}}</div>

            <game-puzzle-pieces
            [boardOrientation]="boardOrientation">
            </game-puzzle-pieces>

            <div class="row justify-content-center d-md-none">
                <div class="col-12 col-md-8"> 
                    <game-puzzle-promotion
                    [puzzle]="puzzle">
                    </game-puzzle-promotion>
                </div>
            </div>
        </div>

        <div class="col-12 order-3 col-md-2 order-md-last text-center">
            <div class="game-puzzle-sidebar-right">
                <game-stockfish class="mt-1 mt-md-0 mb-1 mb-md-0">
                </game-stockfish>
                <div class="d-flex flex-column">
                    <game-rotate-board-button
                    class="mt-1"
                    [boardOrientation]="boardOrientation"
                    (rotateBoardEvent)="rotateBoard($event)">
                    </game-rotate-board-button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center d-none d-md-flex">
        <div class="col-12 col-md-8"> 
            <game-puzzle-promotion
            [puzzle]="puzzle">
            </game-puzzle-promotion>
        </div>
    </div>
</div>