{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'>
    <link rel="stylesheet" type='text/css' href="{% static '/css/style.css' %}">

    {% block head %}

    {% endblock %}
    
    <title>Django Chess</title>
</head>
<body>

    {% block navbar %}

    {% if user.is_authenticated %}

    {% include 'loggedin_navbar.html' %}

    {% else %}

    {% include 'loggedout_navbar.html' %}

    {% endif %}

    {% endblock %}

    {% block content %}

    {% endblock %}
    

    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    
</body>
</html>