{% extends 'base.html' %}

{% block head %}

{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>



{% endblock %}

{% block content %}
    
<div id="board">
</div>
<script>
    initPieces();
    renderWithFEN('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1')
    allowDragging();
    addListeners();
</script>

<ul id='friendslist'>
    {% for friend in friends.all %}

    <a href="{% url 'game-against-page' friend.username %}">{{friend.username}}</a>
    
    {% endfor %}
</ul>


{% endblock %}