
{% extends 'base.html' %}

{% block head %}

{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>



{% endblock %}

{% block content %}
    
<div id="board">
</div>

<div class='timer' id='timer_black'></div>
<div class='timer' id='timer_white'></div>

<script>    


    initPieces();

    var loc = window.location
    var endpointStart = 'ws://'
    if(loc.protocol == 'https'){
        endpointStart = 'wss://'
    }
    var endpoint = endpointStart + loc.host + loc.pathname
    var websocket = new WebSocket(endpoint)



    websocket.onopen = function (e) {
        console.log('open', e)
    }
    websocket.onclose = function (e) {
        console.log('close', e)
    }
    websocket.onerror = function (e) {
        console.log('error', e)
    }
    websocket.onmessage = function (e) { 
        console.log(e.data);
        var msg = JSON.parse(e.data);

        

        if(msg.type == 'init') {
            var fen = msg.fen;
            var color = msg.color;
            var turn = msg.turn;
            var time_black = msg.time_white;
            var time_white = msg.time_black;
            document.getElementById('timer_black').innerHTML = time_black;
            document.getElementById('timer_white').innerHTML = time_white;
            renderWithFEN(fen);
            player = color;
            console.log(color,player);
            console.log('init', msg)
            if(turn == player) {
                console.log('your move');
                addListeners();
                allowDragging();
            }
            else {
                console.log('opponents move');
                removeListeners();
                disableDragging();
            }
        }

        if(msg.type == 'move') {
            var fen = msg.fen;
            var turn = msg.turn;
            renderWithFEN(fen);
            console.log('move', msg)
            if(turn == player) {
                console.log('your move');
                addListeners();
                allowDragging();
            }
            else {
                console.log('opponents move');
                removeListeners();
                disableDragging();
            }
        }

        if(msg.type == 'endgame') { 
            var fen = msg.fen;
            var result = msg.result;
            renderWithFEN(fen);
            console.log('endgame', msg);
            removeListeners();
            disableDragging();

            switch(result) {
                case 'blackwins': 
                    $('#board').append('<div id="endgamebox"><p>BLACK WINS</p></div>');
                    break;
                case 'whitewins':
                    $('#board').append('<div id="endgamebox"><p>WHITE WINS</p></div>');
                    break;
                case 'draw':
                    $('#board').append('<div id="endgamebox"><p>WHITE WINS</p></div>');
                    break;
            }
            
        }

        if(msg.type == 'time') {
            var time = msg.time;
            var timer_color = msg.timer_color;
            var timer_id = 'timer_' + timer_color;
            document.getElementById(timer_id).innerHTML = time;
        }
   
    }

</script>


{% endblock %}