{% extends 'base.html' %} {% block head %} {% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>

{% endblock %} {% block content %}

<div id="board"></div>

<div class="timer" id="timer_black"></div>
<div class="timer" id="timer_white"></div>
<button class="draw_offer_button" type="button">Zaproponuj remis</button> 

<script>
  init_fields();
  var loc = window.location;
  var endpointStart = "ws://";
  if (loc.protocol == "https") {
    endpointStart = "wss://";
  }
  var endpoint = endpointStart + loc.host + loc.pathname;
  var websocket_game = new WebSocket(endpoint);

  websocket_game.onopen = function (e) {
    // console.log("open", e);
  };
  websocket_game.onclose = function (e) {
    // console.log("close", e);
  };
  websocket_game.onerror = function (e) {
    // console.log("error", e);
  };
  websocket_game.onmessage = function (e) {
    var msg = JSON.parse(e.data);

    if (msg.type == "init") {
      var fen = msg.fen;
      color = msg.color;
      var turn = msg.turn;
      var time_black = msg.time_black;
      var time_white = msg.time_white;

      document.getElementById("timer_black").innerHTML = time_black;
      document.getElementById("timer_white").innerHTML = time_white;

      render_with_fen(fen);
      // console.log("init", msg);

      if (turn == color) {
        // console.log("your move");
        add_listeners();
        allow_dragging();
      } else {
        // console.log("opponents move");
        remove_listeners();
        disable_dragging();
      }
    }

    if (msg.type == "move") {
      var fen = msg.fen;
      var turn = msg.turn;
      var time_black = msg.time_black;
      var time_white = msg.time_white;

      document.getElementById("timer_black").innerHTML = time_black;
      document.getElementById("timer_white").innerHTML = time_white;

      render_with_fen(fen);
      // console.log("move", msg);
      if (turn == color) {
        // console.log("your move");
        add_listeners();
        allow_dragging();
      } else {
        // console.log("opponents move");
        remove_listeners();
        disable_dragging();
      }
    }

    if (msg.type == "endgame") {
      var fen = msg.fen;
      var game_result = msg.game_result;
      var time_black = msg.time_black;
      var time_white = msg.time_white;

      document.getElementById("timer_black").innerHTML = time_black;
      document.getElementById("timer_white").innerHTML = time_white;
      render_with_fen(fen);
      // console.log("endgame", msg);
      remove_listeners();
      disable_dragging();

      switch (game_result) {
        case "blackwins":
          $("#board").append('<div id="endgamebox"><p>BLACK WINS</p></div>');
          break;
        case "whitewins":
          $("#board").append('<div id="endgamebox"><p>WHITE WINS</p></div>');
          break;
        case "draw-stalemate":
          $("#board").append('<div id="endgamebox"><p>DRAW - STALEMATE</p></div>');
          break;
        case "draw-50m":
          $("#board").append('<div id="endgamebox"><p>DRAW - 50 MOVES RULE</p></div>');
          break;
        case "draw-3r":
          $("#board").append('<div id="endgamebox"><p>DRAW - THREEFOLD REPETITION</p></div>');
          break;
        case 'draw-mutual':
          $("#board").append('<div id="endgamebox"><p>DRAW - MUTUAL AGREEMENT</p></div>');
          break;
        case 'whitewins-oot':
          $("#board").append('<div id="endgamebox"><p>WHITE WINS - OUT OF TIME</p></div>');
          break;
        case 'blackwins-oot':
          $("#board").append('<div id="endgamebox"><p>BLACK WINS - OUT OF TIME</p></div>');
          break;

      }
    }

    if (msg.type == "promoting") {
      var p = msg.p;
      var t = msg.t;
      var turn = msg.turn;
      pawn_promotion(p, t, turn);
    }

    if (msg.type == 'time') {
      if (msg.color == 'white') {
        document.getElementById("timer_white").innerHTML = msg.time;
      }
      else if (msg.color == 'black') { 
        document.getElementById("timer_black").innerHTML = msg.time;
      }
    }

    if (msg.type == 'draw_offer') {
      clear_draw_buttons()
      $('body').append('<button class="draw_accept_button" type="button">Zaakceptuj remis</button>')
      $('.draw_accept_button').click(function () {
        draw_accept()
      })
      $('body').append('<button class="draw_reject_button" type="button">Odrzuć remis</button>')
      $('.draw_reject_button').click(function () {
        draw_reject()
      })
    }

    if (msg.type == 'draw_reset') {
      clear_draw_buttons()
      $('body').append('<button class="draw_offer_button" type="button">Zaproponuj remis</button>')
      $('.draw_offer_button').click(function() {
      draw_offer()
      })
    }

    if (msg.type == 'draw_accept') {
      clear_draw_buttons()
    }
  };

  $('.draw_offer_button').click(function() {
    draw_offer()
  })


  function clear_draw_buttons() {
    $('.draw_accept_button').remove()
    $('.draw_reject_button').remove()
    $('.draw_offer_button').remove()
  }

  function draw_offer(){
    msg = {
        'type': 'draw_offer'
    }
    msg = JSON.stringify(msg)
    websocket_game.send(msg)
    clear_draw_buttons()
  }

  function draw_accept(){
    msg = {
      'type': 'draw_accept'
    }
    msg = JSON.stringify(msg)
    websocket_game.send(msg)
    clear_draw_buttons()
    $('body').append('<button class="draw_offer_button" type="button">Zaproponuj remis</button>')
    $('.draw_offer_button').click(function() {
    draw_offer()
    })
  }

  function draw_reject(){
    msg = {
      'type': 'draw_reject'
    }
    msg = JSON.stringify(msg)
    websocket_game.send(msg)
    clear_draw_buttons()
    $('body').append('<button class="draw_offer_button" type="button">Zaproponuj remis</button>')
    $('.draw_offer_button').click(function() {
    draw_offer()
    })
  }
</script>

{% endblock %}
