{% extends 'base.html' %}

{% block head %}

{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>

{% endblock %}

{% block content %}

<ul id='friendslist'>
    {% for friend in friends.all %}
    <p> {{ friend.username }}</p>
    <button class="invite_button" type="button" title="{{ friend.username }}">Wyzwij</button> 
    {% endfor %}
</ul>

<ul id="invitelist">
</ul>

<script>
    var loc = window.location
    var endpointStart = 'ws://'
    if (loc.protocol == 'https') {
        endpointStart = 'wss://'
    }
    var endpoint = endpointStart + loc.host + loc.pathname
    var websocket_invite = new WebSocket(endpoint)
    var logged_user = '{{ request.user }}'

    websocket_invite.onopen = function (e) {
        console.log('open', e)
    }
    websocket_invite.onclose = function (e) {
        console.log('close', e)
    }
    websocket_invite.onerror = function (e) {
        console.log('error', e)
    }
    websocket_invite.onmessage = function (e) {
        var msg = JSON.parse(e.data)
        if(msg.type == 'invite') {
            if(msg.invited_user == logged_user) {
                $('#invitelist').append('<p>'+ msg.inviting_user +'</p>')
                $('#invitelist').append("<button class='invite_accept_button' type='button' p1="+ msg.inviting_user +" p2="+ msg.invited_user +" >Akceptuj</button>")
            }
        }
        if(msg.type == 'invite_accept') {
            if(logged_user == msg.player1 || logged_user == msg.player2) {
                    window.location = 'live/' + msg.game_id;
                    console.log('test')
            }
        }
    }

    $('.invite_button').click(function () {
        var invited_user = $(this).attr('title')
        msg = {
            'type': 'invite',
            'inviting_user': logged_user,
            'invited_user': invited_user,
        }
        msg = JSON.stringify(msg)
        websocket_invite.send(msg)
    })

    $('#invitelist').delegate('.invite_accept_button', 'click', function () {
        var $button = $(this).closest('button')
        var p1 = $button.attr('p1')
        var p2 = $button.attr('p2')
        $.ajax({
            url: 'invite',
            data: {
                p1: p1,
                p2: p2,
            },
            success: function () {
                console.log('invite accepted')
            } 
        })
    })
</script>

{% endblock %}