{% extends 'base.html' %}

{% block content %}
   
   <section class='profile'>

      <div class='container'>

         <div class='row'>

            <div class='col-3'>

               <figure>

                  <img src="{{ searched_user.get_profile_pic }}">
                     
                  <figcaption>

                     Username: {{ searched_user.username }}

                  </figcaption>

               </figure>

            </div>

         </div>

      </div>

   </section>

{% endblock %}
