<div class="container">
  <form class="d-flex-column text-center" [formGroup]="registerForm">
      <h4 class="mb-3">Register</h4>

      <input formControlName="username" class="form-control mb-1" placeholder="Username">
      <h6 *ngIf="usernameError">{{usernameError}}</h6>
      
      <input formControlName="email" type="email" class="form-control mb-1" placeholder="Email">
      <h6 *ngIf="emailError">{{emailError}}</h6>

      <input formControlName="password" type="password" class="form-control mb-1" placeholder="Password">
      <h6 *ngIf="passwordError">{{passwordError}}</h6>

      <button mat-stroked-button color="primary" class="text-wrap" (click)="sendRegisterInfo()">Sign up</button>
  </form>
</div>