#board {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1 / 1;
    background-image: url("/assets/img/game_img/chessboard.jpg");
    background-size: 100%;
    margin-bottom: 5px;
    border-radius: 20px;
}

.piece {
    width: 12.5%;
    height: 12.5%;
    box-sizing: border-box;
    background-size: 100%;
}

.piece:hover {
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}