$chess-palette: (
    50 : #e5e9e9,
    100 : #bfc7c8,
    200 : #95a2a3,
    300 : #6a7d7e,
    400 : #4a6163,
    500 : #2a4547,
    600 : #253e40,
    700 : #1f3637,
    800 : #192e2f,
    900 : #0f1f20,
    A100 : #62f3ff,
    A200 : #2fefff,
    A400 : #00e7fb,
    A700 : #00d0e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

