$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$chess-palette: (
    50 : #e3eae9,
    100 : #b8cbc9,
    200 : #89a9a5,
    300 : #598681,
    400 : #366c66,
    500 : #12524b,
    600 : #104b44,
    700 : #0d413b,
    800 : #0a3833,
    900 : #052823,
    A100 : #64ffe6,
    A200 : #31ffde,
    A400 : #00fdd4,
    A700 : #00e3be,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
