$chess-palette: (
    50 : #e4eaea,
    100 : #bbcacb,
    200 : #8ea7a8,
    300 : #618385,
    400 : #3f696b,
    500 : #1d4e51,
    600 : #1a474a,
    700 : #153d40,
    800 : #113537,
    900 : #0a2527,
    A100 : #64f1ff,
    A200 : #31ecff,
    A400 : #00e6fd,
    A700 : #00cfe4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);