@import 'custom-theme';
@import "../node_modules/bootstrap/scss/bootstrap";

// background and text
$body-color: $chess-text-color;
$body-bg: $chess-bg-color;

// placeholder
$input-placeholder-color: $chess-text-color;

// list group

// hover
$list-group-hover-bg: $chess-bg-color-2;
$list-group-action-hover-color: $chess-text-color;

// click
$list-group-action-active-bg: $chess-bg-color-3;
$list-group-action-active-color: $chess-text-color;

$font-family-base: $chess-font-family;
// $font-size-base: 
// $line-height-base:

.pop-up-box {
    display: flex;
    flex-direction: column;
    border: $chess-text-color 1px solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.pop-up-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.pop-up-body-2 {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.chess-button {
    border: $chess-text-color 1px solid !important;
    border-radius: 20px !important;
    color: $chess-text-color !important;
    min-height: 36px !important;
    height: 100% !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";



