.game-sidebar-chat {
    display: flex;
    flex-direction: column;
    height: 350px;
    max-height: 350px;
}

@media (min-width: 768px) {
    .game-sidebar-chat {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 80vh;
    }
}

.scrollarea {
    overflow-y: scroll;
    height: 100%;
}

.message-text {
    word-wrap: break-word;
}
