<div class="game-sidebar-chat">
  <h2>Game chat</h2>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <div *ngFor="let msg of messages" class="list-group-item list-group-item-action py-3">
      <div class="d-flex w-100 align-items-center"><h6>{{msg.username}}</h6></div>
      <div class="message-text">{{msg.text}}</div>
    </div>
  </div>

  <form class="d-flex flex-column">
    <input [(ngModel)]="chatMessageInput" name="message" class="form-control form-control-lg mb-1" placeholder="Write a message" (submit)="sendChatMessage()">
    <button class="btn btn-lg btn-primary" (click)="sendChatMessage()">Send</button>
  </form>
</div>