<div id="chat-bar" class="game-sidebar-chat">
  <h2 class="text-center">Game chat</h2>
  <div #scrollarea class="list-group list-group-flush scrollarea">
    <div *ngFor="let msg of messages" class="list-group-item list-group-item-action py-2">
      <h6>{{msg.username}}</h6>
      <div class="message-text">{{msg.text}}</div>
    </div>
  </div>

  <form class="d-flex flex-column">
    <input [(ngModel)]="chatMessageInput" name="message" class="form-control mb-1" placeholder="Write a message" (submit)="sendChatMessage()">
    <button mat-stroked-button class="chess-button" (click)="sendChatMessage()">Send</button>
  </form>
</div>