.game-live-sidebar-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 30vh;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .game-live-sidebar-right {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 80vh;
        justify-content: space-between;
    }
}

.sidebar-timers {
    display: flex;
    justify-content: center;
}