<div class="container">
  <form [formGroup]="form" (submit)="submit()">
      <h4 class="mb-3">Sign in</h4>

      <input formControlName="username" type="username" class="form-control mb-1" placeholder="Username">
      <h6 *ngIf="username_error">{{username_error}}</h6>

      <input formControlName="password" type="password" class="form-control mb-1" placeholder="Password">
      <h6 *ngIf="password_error">{{password_error}}</h6>
      
      <button class="w-100 btn btn-primary btn-lg" type="submit">Sign in</button>
      <h6 *ngIf="non_field_error">{{non_field_error}}</h6>
  </form>
</div>