{% extends 'base.html' %}

{% block content %}

<section class='addfriend'>

    <div class='container'>
        
        <div class='col-4'>

            <form class ='form-inline' method='POST' action='{% url "send-friend-request" %}'>
                {% csrf_token %}
                <input type='text' class='form-control' placeholder='Add friend' name='to_user_username'>
                <input type="submit" class="btn bg-primary" value='Add friend'>

            </form>

            <p id='message'>{{ msg }}</p>

        </div>

        <div class='col-4'>

            {% for f_request in f_requests %}

            <p>{{ f_request.from_user_username }}</p>

            <a href="{% url 'accept-friend-request' f_request.id %}">
                Accept
            </a>

            {% endfor %}

        </div>

        <div class='col-4'>

            {% for friend in friends.all %}

                <a href="{% url 'user-page' friend.username %}"> 
                    {{ friend.username }}
                </a>
                <a href="{% url 'remove-friend' friend.username %}"> 
                    Remove friend
                </a>

            {% endfor %}

        </div>
        

    </div>

</section>

{% endblock %}