{% extends 'base.html' %}

{% block content %}

<section class='registration'>

    <div class='container'>

        <div class='row'>

            <form method='POST' action="{% url 'register-page' %}">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
                {% endif %}
                {{form.as_p}}
        
                <input type='submit' value='Create User'>
                
            </form>
            
        </div>

    </div>

</section>

{% endblock %}