<div *ngIf="!authenticated" class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h4 [ngStyle]="{'text-align': 'center'}">{{greetMessage}}</h4>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div *ngIf="authenticated" class="container">
  <div class="row">

    <div class="col">
      <home-add-friend
      class="home-section"></home-add-friend>
      <home-friend-requests
      class="home-section"
      [friendRequests]="user.friendRequests"></home-friend-requests>
      <home-friends
      class="home-section"
      [friends]="user.friends"></home-friends>
    </div>

    <div class="col">
      <h4 [ngStyle]="{'text-align': 'center'}">{{greetMessage}}</h4>
      <home-game-invites *ngIf="user"
        [username]="user.username"
        class="home-section">
      </home-game-invites>
      <home-running-games
        class="home-section">
      </home-running-games>
    </div>

    <div class="col">
      <home-game-settings *ngIf="user"
      class="home-section"
      [username]="user.username"></home-game-settings>
      <home-freeboard-settings
      class="home-section">
      </home-freeboard-settings>
    </div>

</div>
