#board {
    position: relative;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/assets/img/game_img/chessboard.jpg");
}

.field {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    float: left;
}

.wrapper {
    margin-top: 240px;
}

.timer {
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    /* border: 3px solid black */
}

.player {
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    /* border: 3px solid black */
}

.btn {
    margin-top: 5px;
    margin-right: 5px;
}

#endgameinfo {
    position: absolute;
    width: 550px;
    height: 550px;
    text-align: center;
    font-size: 40px;
    background-color: beige;
    left: 125px;
    top: 125px;
    border: 10px solid black;
}

#endgametext {
    margin-top: 200px;
}

#promotionbox {
    position: absolute;
    width: 550px;
    height: 150px;
    background-color: beige;
    border: 10px solid black;
    left: 125px;
    top: 325px;
}

.promotionpick {
    float: left;
    width: 100px;
    height: 100px;
    margin: 16px;
    border: 5px solid transparent;
}

.promotionpick:hover {
    border: 5px solid black;
}